
.flex-container {
    display: flex;
  /*  flex-wrap: wrap;*/
    background-color: white;
    
  
  }
  .flex-container >div{
    border-style: ridge;
    border-color: black;
    border-radius: 8px;
    overflow:hidden;
    background-color: white;
      
  }


 .flex-container img {
    height: 200px;
    width: 100%;
    object-fit: fill;
    border-bottom: 4px;
    border-bottom-color:black;
    border-bottom-style: solid;
    }

    .flex-container>div:hover{
        -webkit-transform:scale(0.9);transform:scale(0.9);
    }

    
    p{
        padding-top: 5%;
        text-align: center;
    }

    .tablaFicha{
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 2%;
        font-size: large;  


      }
    

    .tablaFicha, tr, td {
        border: 1px solid black;
      }    


    .tablaFicha  tr, td, b{
        padding: 15px;
        text-align: left;
      }


      .contenedorFicha .tituloTabla{
        text-align: center;
    }
    
    .contenedorFicha img{
        width: 50%;
        display:block;
        margin:auto;
        padding: 1%;
    }