* {
    box-sizing: border-box;
}

.imc {
    margin: 30px;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.tituloX {
    margin: 0;
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: rgb(99, 187, 238);
    color: white;
    font-size: 20px;
}

p {
    font-size: 20px;
}

hr {
    width: 100%;
}

.campoX {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.generos {
    padding: 20px;
    margin-top: 20px;
}

.contenedor {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    
}

.caja {
    width: 47%;
    
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.campito{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.cajaInput{
    width: 90%;
}


.large-12 {
    margin-top: 20px;
    text-align: left;
}


.labelPesoEstatura {
    display: block;
    margin-bottom: 15px;
}

#btnCalcular {
    margin-top: 20px;
    width: 50%;
    padding: 10px;
}

#btnSubmit {
    margin-top: 20px;
    width: 50%;
    padding: 10px;
}

img.mujer {
    display: block;
    height: 300px;
    margin: auto auto 20px;
}

h3#des {
    font-size: 21px;
    color: #666;
    font-weight: 200;
}

@media screen and (max-width: 700px) {
    .caja {
        width: 100%;
    }
}