:root{
    --87: #3c3c3c;  /*Text*/
    --54: #515151; /*Icons-secondary_Text*/
    --26: #8c8c8c8c; /*disabled-Hint_text*/
    --12: #b5b5b5; /*dividers*/
    /*Fondo blanco*/
}

.a{
    background-color: var(--12);
    height: 100px;
}