:root{
    --87: #3c3c3c;  /*Text*/
    --54: #515151; /*Icons-secondary_Text*/
    --26: #8c8c8c8c; /*disabled-Hint_text*/
    --12: #b5b5b5; /*dividers*/
    /*Fondo blanco*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    font-size: 18px;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
main section{
    width: 80%;
    margin-top: 20px;
    max-width: 1200px;
}
nav{
    background-color: var(--12);
    color: var(--87);
}
nav .navbar-brand h1{
    font-family: 'Cinzel Decorative', cursive;
    font-size: 35px;
}
nav .activa {
    color: var(--54);
    background-color: var(--26);
}

