:root{
    --colorFondo: #ECBA82;
    --colorDatos: #ECDBC8;
    --colorRecomendaciones: #696159;
}

main section{
    background-color: var(--colorFondo);
    display: flex;
    flex-flow: column wrap;
}

#perfilHeader{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#icono {
    margin-left: 5%;
    margin-top: 30px;
}
#icono input {
    margin-top: 10px;
    justify-content: center;
}

#userData {
    margin-top: 20px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
